/*HOME*/
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Evita o scroll horizontal indesejado */
}

body {
    font-family: Lustria, serif;
    /* margin: 0;
    padding: 0; */
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #003153;
    padding: 10px 20px;
}

.logo {
    width: 100px;
    height: 100px;
}

.logo img {
    width: 200px; 
    height: 200px;
    object-fit: cover; 
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 0;
    display: block;
    position: relative;
    transition: color 0.3s ease;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0; /* Ajusta a linha para ficar logo abaixo do texto */
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease;
}

nav ul li a:hover {
    color: #eead2d; /* Mudança de cor do texto ao passar o mouse */
}

nav ul li a:hover::after {
    width: 100%; /* Aparece uma linha sublinhada ao passar o mouse */
}

.main-content {
    width: 100%;
    height: 600px;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content img {
    max-width: 100%;
    max-height: 100%;
}

.imagemlogo {
    width: 100vw; /* 100% da largura da viewport */
    height: 100vh; /* 100% da altura da viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(imagemhome.jpg) no-repeat center center;
    background-size: cover;
    background-color: black;
    color: white;
    text-align: center;
    overflow: hidden; /* Evita o scroll */
}




/* Biografia */

.logo img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/* Barra de navegação */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #d9d9d9;
}

/* Seção de perfil */
.perfil {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagem-perfil img {
    width: 300px;
    height: 300px;
    border-radius: 50%; /* Deixa a imagem em formato circular */
    object-fit: cover;
    margin-bottom: 20px;
}

.banner{
    width: 100%;
}

.descricao {
    text-align: center;
}

/* Seção de biografia */
.biografia {
    width: 60%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

.biografia h2 {
    margin-bottom: 15px;
}




/*Rodapé*/

/* Estilo do rodapé */
footer {
    background-color: #003153;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.footer-content h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-content p {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.6;
}

.socials {
    list-style: none;
    padding: 0;
}

.socials li {
    display: inline-block;
    margin: 0 10px;
}

.socials li a {
    color: #eead2d;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s ease;
}

/*.socials li a:hover {
    color: #f39c12;
}*/

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #eead2d;
    padding: 20px 0;
}

.footer-bottom p {
    font-size: 14px;
    color: #eead2d;
}

/* Font Awesome para ícones sociais */
/*@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');*/




/*TRABALHOS*/

.portfolio-title {
    text-align: center;
    margin: 40px auto 20px; /*espaçamento inferior e superior*/
    width: 100%;
}

.portfolio-title h2 {
    font-size: 30px;
    color: #084d6e;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
}


/* Estilos do portfólio */
.portfolio {
    background-color: #003153;
    padding: 50px 0;
    width: 100%;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.work-item {
    background-color: #d9d9d9;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.work-item img {
    width: 100%;
    height: auto;
    background-color: #d9d9d9; /* Cor de fundo para imagem */
    aspect-ratio: 1/1; /*define a proporção para ser quadrada a imagem*/ 
}

.work-item h3 {
    font-size: 18px;
    margin: 15px 0 10px;
}

.work-item p {
    font-size: 14px;
    color: #000000;
}

/* Estilo Responsivo */
@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .container {
        grid-template-columns: 1fr;
    }
}




/* Seção de Contato */
.contact-section {
    padding: 50px 0;
    background-color: #e6e6e6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.contact-map, .contact-form {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.contact-map h2, .contact-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
}

.map-frame iframe {
    border-radius: 10px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
    font-size: 14px;
    color: black;
}

.contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    height: 200px; /*altura do formulário mensagem aumentada*/
}

/*.contact-form input:focus, 
.contact-form textarea:focus {
    outline: none;
    border-color: #f39c12;
}*/

.contact-form button {
    padding: 10px 20px;
    background-color: #eead2d;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/*.contact-form button:hover {
    background-color: #e68a00;
}*/

/* Estilos Responsivos */
@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}

.contact-form input,
.contact-form textarea,
.contact-form button,
.contact-form label {
    font-family: Lustria, serif; /* Garante que herdam a fonte do body */
    font-size: 14px; /* Certifique-se que o tamanho esteja uniforme também */
}




/*BLOG*/

.carrossel {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #003153;
}

.carrossel .slide {
    flex: 1;
    margin: 0 10px;
}

.carrossel .slide img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.posts-title {
    text-align: center;
    margin: 40px auto 20px; /*espaçamento inferior e superior*/
    width: 100%;
}

.posts-title h2 {
    font-size: 30px;
    color: #084d6e;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
}

.posts {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #003153;
}

.post {
    background-color: #d9d9d9;
    width: 30%;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.post img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.post h2 {
    margin-top: 15px;
    font-size: 18px;
}

.post p {
    line-height: 1.6;
    color: #000000;
}

/* .blog{
    width: 100px;
    height: 100px;
} */
